/* about_style.css */
body {
    font-family: Arial, Helvetica;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #52658f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    color: #333a56;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, Arial Round Bold;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

/* Footer styling */
footer {
    background-image: url('assets/images/footer-background.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    background-color: #333a56;
    color: white;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info img.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.contact-info img.icon:hover {
    transform: scale(1.5); /* Enlarge icon on hover */
}

/* Links */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        margin-bottom: 20px;
    }

    .contact-info {
        flex-direction: column;
    }
}