
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: #52658f; 
    padding: 10px 0; 
}


nav ul {
    list-style-type: none; 
    display: flex; 
    justify-content: center; 
}


nav ul li {
    position: relative; 
    margin: 0 15px; 
}


nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px; 
    display: block; }


nav ul li a:hover {
    background-color: #52658f; 
    border-radius: 4px; 
}


nav ul li ul {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    background-color: #52658f; 
    padding: 0; 
    list-style: none; 
    min-width: 150px; }


nav ul li ul li {
    width: 100%; }


nav ul li:hover ul {
    display: block; }


nav ul li ul li a {
    padding: 10px; 
    color: white; 
    text-decoration: none; 
    display: block; 
}


nav ul li ul li a:hover {
    background-color: #555; 
    border-radius: 0; 
}


.content {
    margin-top: 20px;
}
main {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.text-content {
    margin-left: 20px; 
}

img {
    width: 200px; 
    height: auto; 
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

.video-box {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}