/* about_style.css */
body {
    font-family: Arial, Helvetica;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #52658f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    color: #333a56;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, Arial Round Bold;
}

main {
    padding: 10px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

/* Footer styling */
footer {
    background-image: url('footer_background.png'); /* Path to your background image */
    background-size: cover; /* Ensures the image covers the entire footer */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 20px; /* Adds some padding to the footer for content */
    color: white; /* Ensures text is visible if the image is dark */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info img.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.contact-info img.icon:hover {
    transform: scale(1.5);  
}

 
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    main {
        flex-direction: row;
        align-items: bottom;
    }

    .image-container {
        margin-bottom: 20px;
    }

    .contact-info {
        flex-direction: column;
    }
}
 
.video-flex-container {
    display: flex;
    justify-content: bottom;  
    align-items: bottom;  
    margin-top: 400px; 
}

 
.video-box {
    max-width: 200%;  
    flex: 1;
    padding: 10px;  
}

iframe {
    max-width: 100%;  
    height: auto;
}