body {
    font-family: Arial, Helvetica;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #52658f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    color: #333a56;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, Arial Round Bold;
}

main {
    padding: 10px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}


.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info img.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.contact-info img.icon:hover {
    transform: scale(1.5);  
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.video-flex-container {
    display: flex;
    justify-content: bottom;  
    align-items: bottom;  
    margin-top: 400px; 
}

.video-box {
    max-width: 200%;  
    flex: 1;
    padding: 10px;  
}

iframe {
    max-width: 100%;  
    height: auto;
}

.content-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
}

.content-block img {
    width: 20%; 
    height: auto;
    border-radius: 8px;
}

.text-content {
    width: 75%;
    padding: 10px;
}

.left-image {
    flex-direction: row;  
}

.right-image {
    flex-direction: row-reverse;  
}


@media (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        margin-bottom: 20px;
    }

    .contact-info {
        flex-direction: column;
    }

    .content-block {
        flex-direction: column;
    }

    .content-block img, 
    .text-content {
        width: 100%;
    }
}

 
@media print {
    nav, footer, .image-container, .video-flex-container {
        display: none;
    }

    body, main {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 12pt;
        background: none;
    }

    .text-content {
        margin: 0;
        padding: 10px;
    }

    a {
        color: black; 
        text-decoration: underline;
    }
}

 
footer {
    background-image: url('footer_background.png');  
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    padding: 20px;  
    color: white;  
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}